



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_project.css">
    <script src="add_project.js"></script>
    <title>Document</title>
</head>
<body>
    <nav id="nav-form-id">
        <p>issue add form </p>
        <div><a href="/">Home</a></div>
    </nav>
    <div id="form-container">
        <nav id="nav-bar" ><p>form</p></nav>
           <form action="/project/create-issue" method="post">
                <p> Title:</p>
                <input class="input-sec" type="text" name="title" placeholder="Title" required>
                <p> Description:</p>
                <input class="input-sec" type="text" name="description" placeholder="description" required>
                <p> Author:</p>
                <input class="input-sec" type="text" name="author" placeholder="author" required>
                <input class="input-sec" type="hidden" name="project_id" value="<%=project_id%>">
                <p>Labels :</p>
                <select name="labels" class="custom-select" multiple>
                    <option value="bug">bug</option>
                    <option value="enhancement">enhancement</option>
                    <option value="good first issue">good first issue</option>
                    <option value="help wanted">help wanted</option>
                    <option value="question">question</option>
                    <option value="wont fix">wont fix</option>
                </select>
                <input class="input-sec-butt" type="submit" value="add-issue">
           </form>
   </div>
</body>
</html>