<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add_project.css">
    <script src="add_project.js"></script>
    <title>Document</title>
</head>
<body>
    <nav id="nav-form-id">
        <p>project add form </p>
        <div><a href="/">Home</a></div>
    </nav>
    <div id="form-container">
        <nav id="nav-bar" ><p>form</p></nav>
        <form action="/create-project" method="post">
            <p> Description :</p>
            <p><input class="input-sec" type="text" name="description" placeholder=" Description" required></p> 
            <p> Name :</p>
        <p><input class="input-sec" type="text" name="name" placeholder=" Name" required></p> 
        <p> Author Name :</p>
        <p><input class="input-sec" type="text" name="author" placeholder="Author_name" required></p> 
        <input type="hidden" value ="label" >
        <label for="label">Labels you want to choose for project</label><br>
        <select id="lable" name="label" size="7" multiple>
        <option value="done">Done</option>
        <option value="notDone">notDone</option>
        <option value="suspended">suspended</option>
       
        </select>
        <br>
        <p> <input class="input-sec-butt"  type="submit" placeholder="add.."></p>
        </form>
   </div>
</body>
</html>