<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <div id="nav-container">
    <nav id="nav-bar">
       <p id="text-id">Issue Tracker</p> 
    </nav>
    <div id="add-form" >
        <form action="/add-project" method="get">
            <input id="add-input-type" type="submit" value="add..">
        </form>

    </div>
</div>

   <%if(locals.Projects){%> 
    <table>
        <th>
            Project List
        </th>
    </table>  
    <table>
        <tr>
            <th>Name of Project</th>
            <th>Author Name</th>
            <th>Details</th>
        </tr>
        
     <%for(p of Projects){%>
            
                <tr id="tr-tag">
                     <td> <%=p.name%></td>
                     <td><%= p.author%></td>
                     <td>
                        <form action="/project/detail" method="post">
                            <input type="hidden" name="project_id" value="<%=p._id%>">
                            <input type="submit" value="detail">
                        </form>
                     </td>
                     
                </tr>
            <%}%>
        </table>    
    
    <%}%>
</body>
</html>