<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav id="nav-bar">
        <h1>Home-Page</h1>
        <div id="add-project-button">
            <form action="/add-project" method="get">
                <button class="buttons" type="submit"  id="add-butt">add</button>
            </form>
        </div>
    </nav>
   
   
  <%if(locals.Projects){%>
    <table>
        <tr>
            <th>Project Name</th>
            <th>Author</th>
            <th>Status</th>
            <th>Project-Detail</th>
        </tr>
        
        <%for( p of Projects){%>
            
                <tr>
                <td> <%= p.name%></td>  
                   <td><%=p.author%></td> 
                   <td><%=p.labelId.labelsList[0].labelName%></td> 
                   <td>
                       <form action="/project/project-detail/<%=p._id%>"> 
                           <button  class="buttons" type="detail">detail</button>
                       </form>
                    
                   </td> 
                 
            </tr>
            
        <%}%>
        
    </table>
<%}%>

<h3>lables</h3>
<form action="/project-search-by-lables" method="post">
   <input type="text" name="author" placeholder="Author">
   <input type="text" name="name" placeholder="Name">
   <input type="submit" value="search">
</form>
   
    
    
</body>
</html>