body{
    background-color: rgb(246, 242, 237);
    margin: 0px;
    font-family: sans-serif;
}
#nav-bar{
  padding-top:10px ;
  height: 48px;
  width: 100%;
  background-color: #344857;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
}
#nav-bar h1{
  margin-top: 0px;
  margin-left: 10px;
  color: whitesmoke;
}
.myclass{
  border-radius: 5px solid black;
}
#div-container-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  height: 30px;
  background-color: #344857;
  border: whitesmoke solid;
  padding: 15px;
  margin-left: 15%;
  color: whitesmoke;

}
#project-name-container{
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.issue-butt{
    margin-top: 17px;
    margin-right:20px ;
    width: 80px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 4px;
    color: rgb(26, 23, 23);
}
#search-bar{
    padding: 15px;
    margin-left: 13%;
  }
  .search-input{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    
  }
  .search-input:hover{
    background-color :lightgray ;
   
    
  }
  #project-name{
    color:  #344857;
    margin-top: 5px;
    font-size: 40px;
    padding-right: 20px;
  }
  .labels-list{
    background-color: rgb(104, 104, 209);
    padding:2px;
    border-radius: 2px;
  }
table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 3px;
    margin-left: 5%;
    
}
td {
    background-color: rgb(226, 239, 243);
    /* border:1px solid black; */
    border-radius: 2px;
    text-align: center;
} 
th{
    background-color: #7f98aa;  
    color: whitesmoke;
    padding-top: 8px;
    padding-bottom: 8px;
}
tr{
    border:1px solid white;
    background-color: rgb(36, 32, 32);
    margin-top: 2px;
}
#home-link{
    
    color:azure;
    font-size: 20px;
}
#homeLink{
    margin-top: 20px;
}
/* Dropdown Button */
.dropbtn {
    width: 100px;
    background-color: #828886;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content input {
    /* color: black; */
    width:150px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content input:hover {background-color: #ddd;border: none;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  